# Root ignore
node_modules/
vendor/
.env
backend/.env
frontend/.env
backend/storage/*.key
backend/public/storage
backend/public/hot
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/vendor/
frontend/node_modules/
frontend/dist/
.DS_Store
.vscode/
.idea/
